---
- hosts: localhost
  become: yes

  tasks:
    - name: Install Docker
      apt:
        name: docker.io
        update_cache: yes
        state: present

    - name: Start Docker
      service:
        name: docker
        state: started
        enabled: yes
